body {
    color-scheme: #1A212C #82C7A5 #0245AC white;
    background-color: #1A212C;
    color: #D8D9DB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    font-size: 15px;
    width: auto;
}

footer {
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 15px;
}

.page-title {
    padding-top: 30px;
    font-size: 40px;
    -webkit-text-fill-color: #0245AC;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}

h3 {
    font-family: cursive;
    font-size: 34px;
    padding-top: 20px;
    color: white;
}

.section-header {
    border-top: solid 2px white;
    color: #82C7A5;
}

.section-content {
    /* border-bottom: solid 2px; */
    padding-bottom: 10px;
    color: white;
}

.last-divider {
    border-top: solid 2px white;
    color: #82C7A5;
}

ul {
    transform: translateX(10%);
}

.list {
    position:relative;
    display:inline-block;
    padding-left:1em;
    left: 47%;
    transform: translateX(-40%);
}

.list-header {
    position: relative;
    /* display: inline-block; */
    padding-left: 1em;
    left: 70%;
    transform: translateX(-40%);
}

.images {
    width: 200px;
    height: 200px;
}

.representatives {
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 100%;
}

.card {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.parties {
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 100%;
}

.party-card {
    /* display: inline-block; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    border: solid 2px white;
    /* width: 15%; */
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.page-text {
    padding-left: 10%;
    padding-right: 10%;
}

.bg-important {
    font-size: 18px;
}
